[submodule "pack/joschka/start/fzf.vim"]
	path = pack/joschka/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "pack/joschka/start/ale"]
	path = pack/joschka/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "pack/joschka/start/mustache"]
	path = pack/joschka/start/mustache
	url = git://github.com/mustache/vim-mustache-handlebars.git
[submodule "pack/themes/opt/solarized8"]
	path = pack/themes/opt/solarized8
	url = https://github.com/lifepillar/vim-solarized8
[submodule "/home/j/.vim/pack/joschka/start/vim-fugitive"]
	path = /home/j/.vim/pack/joschka/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/joschka/start/vim-rooter"]
	path = pack/joschka/start/vim-rooter
	url = https://github.com/airblade/vim-rooter.git
[submodule "pack/joschka/start/vim-obsession"]
	path = pack/joschka/start/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "pack/joschka/start/vim-prosession"]
	path = pack/joschka/start/vim-prosession
	url = https://github.com/dhruvasagar/vim-prosession.git
[submodule "pack/joschka/start/vim-startify"]
	path = pack/joschka/start/vim-startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "pack/joschka/start/vim-commentary"]
	path = pack/joschka/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/joschka/start/YankRing.vim"]
	path = pack/joschka/start/YankRing.vim
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule "pack/joschka/start/ultisnips"]
	path = pack/joschka/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "pack/joschka/start/vim-snippets"]
	path = pack/joschka/start/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "pack/joschka/start/vim-repeat"]
	path = pack/joschka/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "pack/joschka/start/vim-surround"]
	path = pack/joschka/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
